@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
<<<<<<< HEAD
    font-family: 'Open Sans', sans-serif; /* Updated font-family */
    padding: 5px;
=======
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
>>>>>>> 71fc3ce757b31610291dcc7f7ae08294a0a767c3
    list-style: none;
<<<<<<< HEAD
    /* font-weight: bold; */
    border-bottom: 1px solid #d5d5d5; /* Thin line under navigation */

=======
    font-weight: bold;
    border-bottom: 1px solid #d5d5d5;
>>>>>>> 71fc3ce757b31610291dcc7f7ae08294a0a767c3
}

footer ul {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-variant: small-caps;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-variant: small-caps;
}

article {
    margin: 40px 0;
}

article h2 {
    font-size: 1.6em; /* Adjusted for sub-headers */
    color: #444; /* Darker color for headers */
}

article section p {
    font-size: 1em; /* Smaller font for body text */
    color: #555; /* Slightly lighter color for body text */
    line-height: 1.2em; /* Increased line-height for readability */
}

article section {
    margin-bottom: 20px;
}

article p {
    font-style: italic;
    color: #999;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        width: 95%;
        margin: 20px auto;
    }

    nav ul li, footer ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}
